# Sets the dataset used for the model finetuning
# Supported datasets:
# - armaggheddon97/lego_brick_captions [not yet available]
# - armaggheddon97/lego_minifigure_captions
DATASET_NAME=armaggheddon97/lego_minifigure_captions

# The base model to use for finetuning
# Supported models are the ones published by OpenAI
# - TODO
MODEL_NAME=clip-vit-base-patch16

